body {
  text-align: center;
  background-image: url("./img/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 42px;
  color: #3f3c3c;
}

.pal,
.car,
.esp,
.num,
.sum,
.med {
  list-style-type: none;
  border: #FFC6C7 3px solid;
  background-color:#FFC6C7 ;
  border-radius: 15px 15px 15px 15px;
  font-size:22px;
  color: #474545;
  box-shadow: 2px 2px 2px #333232;
}

.pal,
.car,
.num,
.med,
.sum {
  width: 100px;
}

.pal,
.car,
.esp {
  position: absolute;
  top: 120px;
}

.pal,
.num {
  left: 570px;
}

.car,
.sum {
  left: 760px;
}

.esp,
.med {
  left: 940px;
}

.num,
.sum,
.med {
  position: absolute;
  top: 210px;
}

textarea {
  font-family: sans-serif;
  resize: none;
  height: 18em;
  width: 600px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #999;
  margin: 11% auto;
  font-size: 20px;
}

button {
  width: 180px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  color: #3f3c3c;
  border-radius: 50px;
  border: 1px solid #ccc;
  background: linear-gradient(-50deg, #338aff, #3cf0c5);
  position: absolute;
  top: 80%;
  right:43%;
}

button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

footer {
  font-weight: bold;
  font-size: 14px;
  line-height: 10;
  left: 850px;
  position: absolute;
  top: 89%;
  left: 90%;
}